body {
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(24, 31, 40);
}

.navbar-logo {
  margin: 12px;
  width: 75px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-options-container {
  width: 100%;
  height: 4rem;
}


.navbar-options {
  display: flex;
  justify-content: end;
  margin-right: 24px;
  gap: 24px;
  color: white;
  font-size: clamp(12px,16px,20px);
}

.navbar-options :hover{
  color: crimson;
  transition: all 0.2s ease-out;
}

/*  */




.agents-carousel-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 12px 0 12px 0;
  background-image: url('./assets//stacked-waves-haikei.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}


.agent-card {
  border-radius: 20px;
  border: solid 1px;
  margin: 10px;
  padding-top: 20px;
  transition: all 0.3s ease;
}


.agent-card img{
  height: 150px;
  transition: transform 0.3s ease, scale 0.3s ease;
}

.card-info{
  text-align: center;
  background-color: rgb(24, 31, 40);
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease-in;
  border-radius: 18px;
}

.agent-card:hover{
  scale: 1.05;
  color: crimson;
  }

.agent-card:hover img{
scale: 1.05;
color: crimson;
transform: scaleX(-1);
transition: all 0.3s ease;
}

.agent-card:hover h1{
  color: crimson;
  }

.agent-card:hover h2{
  color: crimson;
  }

.role-icon{
  max-height: 50px;
  width: 50px;

}

/* x */


.maps-carousel-container{
  width: 100%;
  background-color: rgb(24, 31, 40);
}

.maps-carousel-container h1{
  text-align: center;
  color: white;
  padding: 4px;
}

.maps-galery{
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
  width: 100%;
  gap: 1rem;
  padding-bottom: 12px;
}

.map-item{
  flex: 1;
  text-align: center;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: .8;
}

.map-item:hover{
  opacity: 1;
}

.map-item h2{
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 100%; /* Puedes ajustar la altura según tus necesidades */
  color: white;
  
}

.map-item:hover{
  flex: 5;
}

/*  */



.weapons-slider-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("./assets/polygon-scatter-haikei.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 12px;
}

.weapons-slider-container h1{
  position: absolute;
  text-align: center;
  color: white;
  padding: 4px;
}

.weapon-card{
  position: relative;
  background-color: rgb(24, 31, 40);
  width: 24rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 35px;
}

.weapon-img{
  display: block; /* Asegura que la imagen no tenga espacio en la parte inferior */
  width: 100%; /* Ajusta el ancho de la imagen para ajustarse al contenedor */
  height: 80px; /* Mantiene la proporción de la imagen */
  margin: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease, scale 0.3s ease;
}

.weapon-info{
  text-align: center;
  border: solid 1px white;
  border-radius: 20px;
  padding-bottom: 12px;
}

.weapon-info h2 {
  margin-bottom: 0; /* Agrega espacio inferior al h2 */
}

.secondary-weapon-info {
  display: flex; /* Activa el diseño flexible para los h3 secundarios */
  justify-content: space-between; /* Centra los elementos horizontalmente */

}

.secondary-weapon-info h3 {
  margin: 0 10px; /* Agrega margen a los h3 para separación horizontal */
}


.weapon-card:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease; /* Agrega transición suave */
  border: solid 2px #F73C47 ;
}

.weapon-card:hover .weapon-info {
  background-color: rgb(24, 31, 40);
  transition: background-color 0.3s ease; /* Agrega transición suave */
}

.weapon-card:hover {
  color: #F7F7F7;
}

.weapon-card:hover .weapon-img {
  scale: 1.05;
  transform: scaleX(-1);
  transition: all 0.3s ease;
}